<header>
    <div class="containerH">
    <div class="logo">
        <a href="/"><img src="https://lc.cx/_a42Fr" alt=""></a>
    </div>
    <div class="nav">
        <nav>
            <a href="/">Inicio</a>
            <a href="/quienes-somos">Quienes somos</a>
            <a href="/servicios">Servicios</a>
            <a href="/login">Ingresar</a>
            <a class="config hiden"  href="/config">Modificar</a>
            <a class="barber hiden"  href="/barber">barberos</a>
        </nav>
    </div>
    <div class="inicioSesion">
   <svg class="session" id="session" xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-list"  viewBox="0 0 16 16" >
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
      </svg></i>
      <div class="contenidoSesion hiden">
        <li><p>Perfil</p></li>
        <li><p>Configuracion</p></li>
     
            <p class="cerrarSe">Cerrar sesion</p>
      </div>
    </div>
    <div class="container-icon">
    <svg
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 24 24"
						stroke-width="1.5"
						stroke="currentColor"
						class="icon-cart"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z"
						/>
					</svg>
           
                <div class="contador-div">
                    <span class="contador">0</span>
                </div>

                <div class="elements-div hiden">
                    <div class="info-cart">
                 
                </div>
                <div class="barbero"></div>
                <div class="total">
                    <span class="tot">Total</span> <span class="total1"> $0</span>
                </div>
                <div class="pagar">
                    <button  class=" boton1 btn btn-primary">Pagar</button>
                </div>
               
                </div>
            </div>
</div>
</header>