<header>
    <div class="containerH">
    <div class="logo">
        <a href="/"><img src="https://acortar.link/9wSYeR" alt=""></a>
    </div>
    <div class="nav">
        <nav>
            <a href="/">Inicio</a>
            <a href="/quienes-somos">Quienes somos</a>
            <a href="/servicios">Servicios</a>
            <a href="/login">Ingresar</a>
            <a href="/config">Modificar</a>
        </nav>
    </div>
    <div class="container-icon">
    <svg
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 24 24"
						stroke-width="1.5"
						stroke="currentColor"
						class="icon-cart"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z"
						/>
					</svg>
           
                <div class="contador-div">
                    <span class="contador">0</span>
                </div>

                <div class="elements-div hiden">
                    <div class="info-cart">
                 
                </div>
                <div class="total">
                    <span>Total</span> <span class="total"> $0</span>
                </div>

                </div>
            </div>
</div>
</header>