<%-include('./partials/head')-%>

    <body>
    <%-include('./partials/header')-%>
        <main>
        <div class="sol_tur_containerM">
            <div class="messages"></div>
            <%if(typeof message !== 'undefined') { %>
               <%if (message === 'Usuario o contraseña incorrectos') { %>
                <%=message%>
                <a href="login"><button>X</button></a>
                <% }else {%>
                <%=message%>
                <a href="/"><button>Ir al inicio</button></a>
                   <%}%>
                <%}%>
            <div class="ingreso-form">
                    <form  id="ingreso"  >  
                <div class="in-label">
                    <label> Usuario
                        <input type="text" name="usu" id="usu" placeholder="Celular o correo" required> 
                    </label>
                </div>
                <div class="in-label">
            <label>Contraseña
                <input type="password" name="pass" id="pass" required>
            </label>
        </div>
                <div class="rol">
                    <label>
                        Rol
                    </label>
            <label>
               
                Administrador
                <input type="radio" name="rol" id="rol" value= 1  required>
                Cliente
                <input type="radio" name="rol" id="rol" value=2   required>
            </label>
        </div>
        <div class="boton">
            <button>Ingresar</button>
        </div>
    </form>
    <div class="go_register">
        <a id="volver" href="/register">Registrarse</a>
        </div>
    <div class="go_register">
        <a id="volver" href="/recuperar">Cambiar contraseña</a>
        </div>
    </div>

</div>

</main>

        <footer>
            <h2>Siguenos en nuestras redes sociales</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem illum eligendi ad repellendus dignissimos iste veniam ex autem perspiciatis numquam, tenetur accusantium enim, exercitationem nulla fugiat quisquam, officia ratione harum?</p>
        </footer>
    <script src="/logica.js"></script>
    <script src="/productos carrito.js"></script>
    <script src="/profile.js"></script>



    </body>
</html>