<%-include('./partials/head')-%>

<body>
<%-include('./partials/header')-%>
    <main>
    <h2>Vision</h2>
    <p>Seremos una plataforma con excelente prestación de servicios a nuestros clientes en el area de solicitud de turnos en barberías</p>
    <h2>Mision</h2>
    <p>Prestar servicios de solicitud de turnos en barberias</p>
    <h2>Objetivos</h2>
    <p>Optimizar los tiempos de espera del cliente para recibir el servicio en la barberia</p>

    </div>
</main>
<script src="/logica.js"></script>

</body>
</html>