<%-include('./partials/head')-%>
<body>
  <%-include('./partials/header')-%>
    <main>
       
           <div class="sol_tur_containerB">
            <% if(typeof message !== 'undefined'){%>
                <%=message%>
                <%}%>
                <br>
    <form action="/recuperar" method="post">
        <label>
            Usuario
            <input type="text" name="user" id="">
        </label>
        <label>
            Nueva Contraseña
            <input type="password" name="pass" id="">
        </label>
        <button>Enviar</button>
    </form>
</div>
</main>
<script src="/logica.js"></script>
<script src="/productos carrito.js"></script>
<script src="/profile.js"></script>



</body>
</html>